
<div class="darkblue-bg white-text" style="display: block; overflow: auto; padding-bottom:20px; padding-top:20px; font-size:10px">
  <div class="container">
    <div class="d-none d-sm-block float-left">
      <div class="float-left white-txt">Copyright &copy; SOAJS.io, All Rights Reserved &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; <a href="/legal/disclaimer/">Legal Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/legal/privacy/">Privacy Policy</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/legal/terms/">Terms & Conditions</a></div>
    </div>
    <div class="d-block d-sm-none float-left">
      <div class="white-txt"><a href="/legal/disclaimer/">Legal Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/legal/privacy/">Privacy Policy</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/legal/terms/">Terms & Conditions</a></div>
      <div class="white-txt">Copyright &copy; SOAJS.io, All Rights Reserved</div>
    </div>
    <div class="float-right white-txt">Powered by <a href="http://www.soajs.org" target="_blank" class="white-txt Casablanca-txt-hover"><img src="assets/images/soajs.png" alt="soajs.org" width="75"/></a></div>
  </div>
</div>
