<div id="headerAD" ng-if="header_ad">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        
        <h1>{{'home.title' | translate}}</h1>
        <h5 class="text-right orange-text" style="padding-top: 15px;">{{'home.slogan' | translate}}</h5>
        <p style="padding-top: 25px;">{{'home.msg' | translate}}</p>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-left">
        <img width="100%" src="assets/images/emmp.png">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="text-center" style="padding-top: 40px;">
          <a href="/member/join" class="btn btn-warning roundedButton">Create Your Free Account</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!--main page-->
<div class="gray-text section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <h5 class="orange-text">We connect them all.</h5>
        <h5 class="orange-text">No more IT plumbing pain.</h5>
        
        <img src="assets/images/connectall.png" alt="no more IT plumbing" style="width:100%"/>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <h3 style="padding-bottom: 20px;">Accelerate the Deployment of Applications</h3>
        <p>
          Getting applications on the cloud has been unnecessarily complex, as current technologies only partially
          address these challenges. Before your application teams can focus on coding, DevOps, CloudOps, and Security
          must translate their architectures and policies into cloud environments, by integrating and harmonizing
          infrastructures, frameworks, legacy software, and more — and must build cohesive development, release,
          operating, and management flows and views. Today this IT Plumbing is being developed manually – tying
          down scarce, but critical, expertise and skills.
        </p>
        <p>
          SOAJS single-pane-of-glass (SPOG) management solution automates this IT Plumbing and optimizes
          the development lifecycle for your Applications. DevOps, CloudOps, and Security retain the same level of
          control, with an open, plug-and-play platform that adapts to their vision. With no IT Plumbing coding
          necessary, their critical expertise and skills get leveraged more efficiently, across more projects.
          And your application teams start delivering microservices significantly earlier and faster.
        </p>
      </div>
    </div>
  </div>
</div>

