<mat-nav-list>
  <a mat-list-item routerLink="/product" (click)="onSidenavClose()">
    <mat-icon>category</mat-icon>
    <span class="nav-caption">Our Product</span>
  </a>
  <a mat-list-item routerLink="/whyus" (click)="onSidenavClose()">
    <mat-icon>check_circle</mat-icon>
    <span class="nav-caption">Why US</span>
  </a>
  <a mat-list-item routerLink="/store" (click)="onSidenavClose()">
    <mat-icon>store</mat-icon>
    <span class="nav-caption">Store</span>
  </a>
  <!--<a mat-list-item routerLink="/member" (click)="onSidenavClose()">-->
  <!--<mat-icon>lock</mat-icon><span class="nav-caption">Member Area</span>-->
  <!--</a>-->
  <a mat-list-item *ngIf="!userInfo" routerLink="/login" (click)="onSidenavClose()">
    <mat-icon>lock</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item *ngIf="userInfo" (click)="logout();onSidenavClose()">
    <mat-icon>lock</mat-icon>
    <span class="nav-caption">Logout</span>
  </a>
</mat-nav-list>
